<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Home — Airbnb</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <header>
      <div class="bg-[#b14400] p-4">
        <span class="ml-8 flex gap-x-[2rem] text-white">
          <a href="/">Go To Home</a><a href="/host/add-home">Add Home</a>
        </span>
      </div>
    </header>
    <main>
      <div class="flex justify-center mt-12 w-[100vw]">
        <form
          action="/host/add-home"
          method="post"
          class="flex flex-col shadow-xl px-40 rounded-xl py-9 gap-y-3 w-[60%]"
        >
          <h1 class="font-bold text-lg text-center">
            Register Your Home On Airbnb
          </h1>
          <input
            type="text"
            placeholder="Enter Your Home Address"
            name="houseName"
            class="focus:outline focus:outline-[2px] outline-[1px] outline-orange-400 focus:outline-orange-400 px-2 pr-12 rounded py-1"
          />
          <button class="bg-orange-500 rounded py-1 cursor-pointer">
            Register
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
