<header>
  <div class="bg-[#b14400] p-4">
    <span class="ml-8 flex gap-x-[2rem] text-white">
      <a
        href="/"
        class="<%= pagetitle === 'Airbnb - Where You Find Home' ? 'bg-red-400 rounded' : '' %>"
      >
        Go To Home
      </a>

      <a
        href="/host/add-home"
        class="<%= pagetitle === 'Add Home — Airbnb' ? 'bg-red-400 rounded' : '' %>"
      >
        Add Home
      </a>
    </span>
  </div>
</header>
