<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact-us</title>
  </head>
  <body>
    <header><h1>Enter Your Details Here</h1></header>
    <main>
      <form action="/user/contact-us" method="post">
        <label for="username"
          >Enter your name:
          <input
            type="text"
            name="username"
            placeholder="Enter your name"
            id="username"
          />
        </label>
        <label for="userEmail"
          >Enter your Email:
          <input
            type="email"
            name="userEmail"
            placeholder="example@gmail.com"
            id="userEmail"
          />
        </label>
        <button>submit</button>
      </form>
    </main>
  </body>
</html>
