<%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main class="flex flex-col items-center mt-8">
      <h1 class="text-3xl text-orange-500 font-bold">404</h1>
      <p class="mt-4 flex justify-center">OOPS! Page not found</p>
      <a
        href="/"
        class="mt-4 flex justify-center bg-orange-600 text-white px-4 py-2 rounded-md"
        >Go Back Home</a
      >
    </main>
  </body>
</html>
