<header class="bg-[#f57842] text-white flex gap-x-6 p-4 px-12">
  <a
    href="/"
    class="px-4 py-2 rounded-md font-medium transition duration-200 <%= currentPage === 'Home' ? 'bg-orange-600 shadow-md' : 'hover:bg-orange-500' %>"
  >
    Go To HomePage
  </a>
  <a
    href="/host/add-home"
    class="px-4 py-2 rounded-md font-medium transition duration-200 <%= currentPage === 'Add Home' ? 'bg-orange-600 shadow-md' : 'hover:bg-orange-500' %>"
  >
    Add Home
  </a>
</header>
