<%- include("../partials/head")%>
  </head>
  <body>
    <%- include("../partials/nav")%>
    <div class="flex justify-center mt-12 w-[100vw]">
      <div
        class="flex flex-col shadow-xl px-40 rounded-xl py-9 gap-y-3 w-[60%] items-center"
      >
        <h1 class="font-bold text-lg text-center text-orange-500">
          Home Register SuccessFully
        </h1>
        <p class="text-center">Your home has been added to our settings</p>
        <button
          class="bg-orange-500 rounded py-1 cursor-pointer text-white w-[10rem]"
        >
          <a href="/">Return to Home</a>
        </button>
      </div>
    </div>
  </body>
</html>
